*{
    margin: 0px;
    
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size:  110%
}

.l{
    float: right;
}


.Icon{
    padding-left: 3%;
    display: inline-block;
}

.Icon p{
   font-size: 300%;
    display: inline; 
}

.Icon i{
    color: rgba(0, 0, 0, 0.676);
}

.Icon i:hover{
    color: rgba(0, 0, 0, 0.785);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

@media screen and (max-height: 700px) and ( max-width: 1025px)  {

}

@media screen and (min-height: 1376px) and ( min-width: 1024px)  {

}

@media screen and (min-width: 300px) and ( min-height: 360px)  and (max-height: 940px) and ( max-width: 882px) {

}

@media screen and (max-height: 1370px) and ( max-width: 914px) and (min-height: 1020px) and ( min-width: 760px)  {

}